body {
  margin: 0; }

ul {
  margin-top: 0; }

li {
  list-style: none;
  display: inline;
  text-transform: uppercase; }
  li a {
    text-decoration: none; }

header {
  background: linear-gradient(rgba(31, 28, 28, 0.589), rgba(0, 0, 0, 0.01)), url(../images/art-artistic-arts-and-crafts-395074.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #999999;
  height: 100vh; }

input {
  width: 570px;
  height: 50px;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #888888; }

textarea {
  grid-column: span 2;
  resize: none;
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #888888; }

.navigation-upper {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }
  .navigation-upper ul {
    margin-top: 0;
    padding: 16px 100px; }
  .navigation-upper ul li {
    padding: 10px;
    font-size: 12px;
    color: #999999;
    font-family: 'Source Sans Pro', sans-serif; }

.icons {
  right: 0;
  width: 111px;
  display: inline; }

.shipping-text {
  text-align: center;
  letter-spacing: 2.4px;
  width: 349px;
  margin: 0 271px; }

.logo {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 9px;
  color: #fffefe; }

.logo:hover {
  text-decoration: none !important;
  cursor: default; }

.navigation-bottom {
  margin-top: 20px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 15px; }
  .navigation-bottom li {
    padding: 0 20px; }
  .navigation-bottom a {
    color: white; }

.navigation-bottom a:hover {
  text-decoration: underline; }

.button {
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 20px;
  background-color: #a88d7b;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
  margin-left: 94vh;
  margin-top: 10vh; }

.hero-h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  color: white; }

.hero-p {
  text-align: center;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 90px;
  color: white;
  margin-bottom: 8vh; }

.hero-text {
  margin-top: 21vh; }

.arrow-down::before {
  color: white;
  font-size: 30px;
  position: absolute;
  transform: translate(-13vh, 21vh); }

.featured {
  height: 704px;
  background-color: #f5f5f5;
  padding: 30px; }

.new {
  width: 60px;
  height: 25px;
  border-radius: 7.5px;
  background-color: #a88d7b;
  z-index: 2;
  position: absolute;
  transform: translate(700px, 10px); }
  .new p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-top: 2px; }

.featured-h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 0; }

.h1-line {
  height: 1.5px;
  width: 50px;
  background-color: #a88d7b; }

.fgrid-items {
  background-color: #666666;
  width: 370px;
  height: 360px; }

.stationery {
  background-image: url(../images/diy/stationery.png);
  background-size: cover;
  background-repeat: no-repeat; }

.office {
  background-image: url(../images/diy/office\ suite.png);
  background-size: cover;
  background-repeat: no-repeat; }

.cleaning {
  background-image: url(../images/diy/cleaning\ agents.png);
  background-size: cover;
  background-repeat: no-repeat; }

.h2-featured {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333333;
  margin: 0; }

.h3-featured {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #999999;
  text-align: center;
  margin: 0; }

.collection {
  height: 705px;
  background-color: #ffffff; }

.cgrids-items {
  width: 570px;
  height: 373px;
  background-color: #666666; }

.h2-collection {
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
  margin: 0; }

.hand-craft {
  height: 552px;
  opacity: 0.9;
  background-color: #666666;
  background-image: url(../images/close-up-diy-measuring-tape-1573830.jpg);
  background-size: cover;
  background-attachment: fixed; }

.h1-hand-craft {
  font-family: 'Dosis', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.p-hand-craft {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #ffffff; }

.hand-craft-sub {
  padding: 119px 75px;
  width: 50%; }

.view {
  padding: 10px 30px;
  background-color: #a88d7b;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  text-decoration: none;
  transform: translate(41vh, 10vh); }

.blog {
  height: 671px;
  background-color: #f9f9f9; }

.blog-items {
  width: 585px;
  height: 405px; }

.h3-blog {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: left;
  color: #333333;
  margin-top: 0; }

.h5-blog {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 3.2;
  text-align: left;
  color: #999999; }

.p-blog {
  width: 529px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  text-align: left;
  color: #666666;
  margin-bottom: 50px; }

.link-blog {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #a88d7b;
  text-decoration: none; }

.blog-items {
  width: 585px;
  height: 405px;
  background-color: #666666; }

.footer {
  height: 425px;
  background-color: #2d2827; }

.h1-footer {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: left;
  color: #e5e5e5;
  margin: 8px; }

.copyright {
  height: 85px;
  background-color: #d7d7d7; }

.h3-footer {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #e5e5e5; }

.footer-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  display: block;
  text-decoration: none;
  padding: 20px 0;
  text-align: left;
  color: #999999; }

.footer-grid-item {
  width: 80px;
  height: 80px;
  background-color: #ffffff; }

.p-copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #666666;
  padding: 35px;
  margin: 0; }

.basket {
  background-image: url(../images/diy/basketwhitewall.jpg);
  background-size: cover;
  background-position-x: -12px;
  background-position-y: 0px; }

.blowdrier {
  background-image: url(../images/diy/blowdrier.png);
  background-size: contain; }

.book {
  background-image: url(../images/diy/book\ holder.png);
  background-size: contain; }

.cutlery {
  background-image: url(../images/diy/cutlery\ holder.png);
  background-size: contain; }

.desk {
  background-image: url(../images/diy/desk_organiser.jpg);
  background-size: contain; }

.toilet {
  background-image: url(../images/diy/toilet\ paper.png);
  background-size: contain; }

.sponge {
  background-image: url(../images/diy/sponge\ holder.png);
  background-size: contain; }

.toiletrly {
  background-image: url(../images/diy/toiletrly.png);
  background-size: contain; }

.header-about {
  height: auto; }

.about-top-nav {
  height: 53px;
  background-color: #eeeeee; }
  .about-top-nav ul {
    margin: 0;
    padding: 0 25vh;
    padding-top: 15px; }
  .about-top-nav li {
    display: inline;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 2.4px;
    text-align: left;
    color: #999999; }
  .about-top-nav a {
    text-decoration: none; }

.nav-text {
  margin: 0 24vh; }

.about-bottom-nav {
  height: 93px;
  background-color: #ffffff; }
  .about-bottom-nav ul {
    padding: 0 25vh;
    padding-top: 25px; }
  .about-bottom-nav li {
    list-style: none;
    color: #666666;
    padding: 5px; }
  .about-bottom-nav a {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: left;
    color: #666666; }

.home {
  padding-left: 172px !important; }

.lookbook {
  padding-right: 172px !important; }

.about-logo {
  margin-right: 54vh; }

.hero-about {
  height: 445px;
  background-color: #666666;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif; }

.about-us {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
  margin: 0;
  padding-top: 22vh; }

.h3-about-hero {
  font-size: 15px;
  font-weight: 600;
  color: #cccccc;
  letter-spacing: 1px; }

.who-we-are {
  height: 548px;
  background-color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, auto); }

.who-image {
  width: 600px;
  height: 490px;
  background-color: #666666; }

.who-text {
  width: 600px;
  height: 490px; }

.h1-who {
  font-size: 36px;
  line-height: 0.67;
  text-align: center;
  color: #333333;
  margin: 0; }

.p-who {
  color: #666666;
  margin: 30px 0; }

.meet-our-team {
  height: 721px;
  padding: 15vh; }

.grid-mot {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, auto);
  margin: 10vh 0; }

.grid-mot h5 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
  margin: 0; }

.grid-mot h6 {
  text-align: center;
  color: #999999;
  margin: 0; }

.icon-mot {
  padding: 10px;
  text-align: center;
  color: #555555;
  font-size: 15px;
  word-spacing: 15px; }

.h1-mot {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  margin: 0; }

.image-mot {
  width: 270px;
  height: 305px;
  background-color: #666666; }

.what-we-do {
  height: 590px;
  padding: 10vh 15vh;
  font-family: 'Source Sans Pro', sans-serif;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, auto); }

.wwd-image {
  width: 600px;
  height: 490px;
  background-color: #666666; }

.h1-wwd {
  font-size: 36px;
  text-align: center;
  color: #333333;
  margin: 0; }

.wwd-text p {
  font-size: 15px;
  color: #666666; }

.contact-grid-items {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center; }

.location {
  width: 32px;
  height: 35px;
  font-size: 36px;
  line-height: 0.58;
  text-align: center;
  color: #090803; }

.h2-contact {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333; }

.h4-contact {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #666666; }

.h4-contact-number {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #666666; }

.h4-contact-mail {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #666666; }

.fa-clock {
  font-size: 33px;
  text-align: center;
  color: #000000; }

.h2-contact-time {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1.3px;
  text-align: center;
  color: #333333; }

.email {
  width: 155px;
  height: 40px;
  background-color: #ac907f;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ac907f;
  cursor: pointer; }

.our-blog {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #666666;
  height: 80px; }
  .our-blog ul {
    padding: 20px 10vh; }
  .our-blog li {
    padding: 5px; }
  .our-blog a {
    text-decoration: none;
    font-size: 15px;
    color: #666666;
    text-transform: capitalize !important; }

.blog-log {
  padding-right: 142vh; }

.blog-main {
  font-family: 'Source Sans Pro', sans-serif; }
  .blog-main h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 2.4;
    color: #333333;
    margin-bottom: 0;
    margin-top: 0; }
  .blog-main h3 {
    font-size: 15px;
    line-height: 3.2;
    color: #999999;
    margin-top: 0; }
  .blog-main p {
    font-size: 15px;
    color: #666666; }
  .blog-main hr {
    width: 370px;
    height: 0.5px;
    background-color: #ebebeb;
    text-align: left; }

.main-grid-image {
  width: 370px;
  height: 225px;
  background-color: #666666; }

.fab {
  color: #999999; }

.fa-shopping-cart {
  padding: 15px; }

@font-face {
  font-family: 'Source Sans Pro';
  src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf); }
@font-face {
  font-family: 'Dosis';
  src: url(.../fonts/Dosis/Dosis-Regular.ttf); }
.featured-grids {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  padding: 20px 50px; }

.collection-grids {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, auto);
  padding: 20px 70px; }

.blog-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, auto);
  padding: 20px 70px; }

.footer {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px 64px; }

.footer-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, auto); }

.contact-grids {
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(3, auto);
  padding: 10vh 15vh; }

.contact-form-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, auto);
  padding: 10vh 15vh; }

.blog-main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, auto);
  padding: 30px 10vh; }

/*# sourceMappingURL=main.css.map */
