

body {
    margin: 0;
}

// Nav BAR

ul {
    margin-top: 0;
}

li {
    list-style: none;
    display: inline;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

// End:NavBAR

// Header

header{
    // background-image: url(../images/hand_crafting_wood.jpeg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: contain;
    color: #999999;
    background-color: #474545;
    height: 100vh;
}

// End: Header


