html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

// Nav BAR

ul {
    margin-top: 0;
}

li {
    list-style: none;
    display: inline;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

// End:NavBAR

// Header

header{
    background: linear-gradient(rgba(82, 80, 80, 0.589),rgba(0, 0, 0, 0.01)), url(../images/cel-lisboa-73969-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $warm-grey;
    // background-color: #474545;
    height: 100vh;
}

// End: Header



// Contact Page Open

input {
    width: 570px;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: $colored-grey;
}

textarea {
    grid-column: span 2;
    resize: none;
    border: solid 1px #e6e6e6;
    background-color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: $colored-grey;
}


// Contact Page Close