

body {
    margin: 0;
}

// Nav BAR

ul {
    margin-top: 0;
}

li {
    list-style: none;
    display: inline;
    text-transform: uppercase;

    a {
        text-decoration: none;
    }
}

// End:NavBAR

// Header

header{
    background: linear-gradient(rgba(31, 28, 28, 0.589),rgba(0, 0, 0, 0.01)), url(../images/art-artistic-arts-and-crafts-395074.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #999999;
    // background-color: #474545;
    height: 100vh;
}

// End: Header


