// Icons, buttons, etc

.fab {
    color:$warm-grey;
}

.fa-shopping-cart {
    padding: 15px;
}

.fa-chevron-up {
    font-size: 25px;
    color: white;
}

#button {
    transition: background-color .5s, visibility .7s, opacity .7s;
    background-color: #a88d7b;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    position: fixed;
    padding: 15px;
    z-index: 500;
    right: 25px;
    opacity: 0;
    top: 530px;
}

#button:hover {
    background-color: black;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(.../fonts/Dosis/Dosis-Regular.ttf);
}