// Icons, buttons, etc

.fab {
    color: #999999;
}

.fa-shopping-cart {
    padding: 15px;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(.../fonts/Dosis/Dosis-Regular.ttf);
}