// Grids



// Start: Featured Products

.featured-grids {
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(3,auto);

    padding: 20px 50px;
}

// End: Featured Products   

// Start: New Collection

.collection-grids {
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(2,auto);

    padding: 20px 50px;
}

// End: New Collection

// Start: Our Blog

.blog-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(2,auto);

    padding: 20px 50px;
}
// End: Our Blog

// Start: Footer

.footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    padding: 30px 38px;
}

.footer-grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4,auto);
}

// End: Footer


// Contact Page Open

.contact-grids {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(3,auto);
    padding: 10vh 15vh;
}

.contact-form-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,auto);

    padding: 10vh 15vh;
}

// Contact Page Close


// Blog Page Open

.blog-main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,auto);

    padding: 30px 10vh;
}

// Blog Page Close



// LookBook Open

.lookbook-grid {
    padding: 20px 50px;
    margin: 0;

    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,1fr);
}



// Lookbook Close