// Classes & ID's


// Start: Header

// NAVIGATION UPPER

.navigation-upper {
  width: 100%;
  height: 53px;
  background-color: $stained-brown;

  ul {
    margin-top: 0;
    padding: 16px 100px;
  }

  ul li {
      padding: 10px;
      font-size: 12px;
      color: $warm-grey;
      font-family: 'Source Sans Pro', sans-serif;
  }
}

.icons {
    right: 0;
    width: 111px;
    display: inline;
}

.shipping-text {
    text-align: center;
    letter-spacing: 2.4px;
    width: 349px;
    margin: 0 184px;
}

// Bottom Navigation Bar

.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: $dirty-white;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
}

.logo:hover {
    text-decoration: none !important;
    cursor: default;
}

.middle-nav {
    margin-right: 50px;
    margin-left: 139px;
    display: inline;

}



.navigation-bottom {
    margin-top: 20px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;

    ul {
        transform: translate(-3%,0);
    }

    li {
        padding: 0 20px;
    }

    a {
        color: white;
    } 
}

.navigation-bottom a:hover {
    text-decoration: underline;
}

.button {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 20px;
    background-color: $dirty-brown;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    margin-left: 94vh;
    margin-top: 10vh;
}

// Header

.hero {
    
}

.hero-h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.96;
    font-weight: normal;
    color: white;
}

.hero-p {
    text-align: center;
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 90px;
    color: white;
    margin-bottom: 8vh;
}

.hero-text {
    margin-top: 21vh;
}

.arrow-down::before {
    color: white;
    font-size: 30px;
    position: absolute;
    transform: translate(-13vh, 21vh);
}

// End: Header ---------------------------------------

// Start: Featured Products

.featured {
    height: 704px;
    background-color: #f5f5f5;
    padding: 30px;
}

.new {
  width: 60px;
  height: 25px;
  border-radius: 7.5px;
  background-color: $dirty-brown;


  z-index: 2;
  position: absolute;
  transform: translate(1240%, 130%);
// transform: translate(737px, 25px);

  p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    margin-top: 2px;
  }
}

.featured-h1 {
    @include h2-styles;
}


.h1-line {
    height: 1.5px;
    width: 50px;
    background-color: $dirty-brown;
} 



.fgrid-items {
    background-color: $white;
    width: 370px;
    height: 360px;
}

.stationery {
    background-image: url(../images/diy/stationery.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.office {
    background-image: url(../images/Kudhinda057.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 40px;
}

.cleaning {
    background-image: url(../images/diy/jean_bag.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.h2-featured {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: $deep-grey;
    margin: 0;
}

.h3-featured {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    color: $warm-grey;
    text-align: center;
    margin: 0;
}

// End: Featured Products------------------------------

// Start: New Collection

.collection {
  height: 705px;
  background-color: $white;
}

.desks {
    background-image: url(../images/How-to-Make-a-Message-Board-From-an-Old-Picture-Frame-via-House-by-Hoff2-1024x732.png);
    background-size: contain;
}

.home-image {
    background-image: url(../images/diy/basketwhitewall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cgrids-items {
    width: 570px;
    height: 373px;
    // background-color: $mid-grey;
}

.h2-collection {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    line-height: 1.92;
    letter-spacing: 2.5px;
    text-align: center;
    color: $dirty-brown;
    margin: 0;
}

// End: New Collection


// Start: Hand Craft

.hand-craft {
    height: 552px;
    opacity: 0.9;
    background-color: $mid-grey;
    background: linear-gradient(#c4ac9ccc,#5555559c), url(../images/close-up-diy-measuring-tape-1573830.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.h1-hand-craft {
    font-family: 'Dosis', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: normal;
    text-align: center;
    color: $white;
}

.p-hand-craft {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    color: $white;
}

.hand-craft-sub {
    padding: 119px 75px;
    width: 50%;
}

.view {
    padding: 10px 30px;
    background-color: $dirty-brown;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: center;
    color: $white;
    position: absolute;
    text-decoration: none;
    transform: translate(41vh,10vh);
}

// End: Hand Craft

// Start: Our Blog
.blog {
    height: 671px;
    background-color: $dirty-white;
}

.blog-items {
    width: 585px;
    height: 405px;
}

.image {
    background-image: url(../images/hands_crafting.jpeg);
    background-size: cover;
}

.h3-blog {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: $deep-grey;
    margin-top: 0;
}

.h5-blog {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 3.2;
    text-align: left;
    color: $warm-grey;
}

.p-blog {
    width: 529px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-align: left;
    color: $mid-grey;
    margin-bottom: 50px;
}

.link-blog {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-align: left;
    color: $dirty-brown;
    text-decoration: none;
}

.blog-items {
    width: 585px;
    height: 405px;
    background-color: $mid-grey;
}

// End: Our Blog

// Start: Footer

.footer {
    height: 325px;
    background-color: $stained-brown;
}

.h1-footer {
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 4px;
    text-align: left;
    color: $stained-grey;
    margin: 8px;
}

.copyright {
    height: 85px;
    background-color: $light-grey;
}

.h3-footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: $stained-grey;
}

.footer-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 20px 0;
    text-align: left;
    color: $warm-grey;
}

.cool-padding a {
    width: 300px;
}


.footer-grid-item {
  width: 80px;
  height: 80px;
  background-color: $white;
}

.p-copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    text-align: center;
    color: $mid-grey;
    padding: 35px;
    margin: 0;
}

.basket {
    background-image: url(../images/diy/basketwhitewall.jpg);
    background-size: cover;
    background-position-x: -12px;
    background-position-y: 0px;
}

.blowdrier {
    background-image: url(../images/diy/blowdrier.png);
    background-size: contain;
}

.book {
    background-image: url(../images/diy/book-holder.png);
    background-size: contain;
}

.cutlery {
    background-image: url(../images/diy/cutlery-holder.png);
    background-size: contain;
}

.desk {
    background-image: url(../images/diy/desk_organiser.jpg);
    background-size: contain;
}

.toilet {
    background-image: url(../images/diy/toilet-paper.png);
    background-size: contain;
}

.sponge {
    background-image: url(../images/diy/sponge-holder.png);
    background-size: contain;
}

.toiletrly {
    background-image: url(../images/diy/toiletrly.png);
    background-size: contain;
}

// End: Footer

// Conculusion: Home Page


// Beginning: About Page

// Start: Header

.header-about {
    height: auto;
}

// Top Nav Open

.about-top-nav {
  height: 53px;
  background-color: $super-grey;

  ul {
      margin: 0;
      padding: 0 25vh;
      padding-top: 15px;
  }

  li {
      display: inline;
      padding: 10px;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 12px;
      line-height: 1.83;
      letter-spacing: 2.4px;
      text-align: left;
      color: $warm-grey;
  }

  a {
      text-decoration: none;
  }
}

.nav-text {
    margin: 0 24vh;
}
// Top Nav Close

// --------------

// Bottom Nav Open
.about-bottom-nav {
  height: 93px;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 2;

  ul {
      padding: 0 25vh;
      padding-top: 25px;  
  }

  li {
      list-style: none;
      color: $mid-grey;
      padding: 5px;
  }

  a {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: left;
    color: $mid-grey;
  }
}


.about-logo {
    margin-right: 54vh;
}
// Bottom Nav Close

.hero-about {
    height: 445px;
    // background-color: $mid-grey;
    background-image: url(../images/close-up-diy-measuring-tape-1573830.jpg);
    background-size: 209vh;
    background-position-x: 48%;
    background-position-y: 72%;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    filter: grayscale(49%);
}

.about-us {
    filter: grayscale(0);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $white;
    margin: 0;
    padding-top: 22vh;
}

.h3-about-hero, a {
    filter: grayscale(0);
    font-size: 15px;
    font-weight: 600;
    color: $anti-grey;
    letter-spacing: 1px;
    text-decoration: none;
}

.h3-about-hero a:hover {
    text-decoration: underline;
}

.home-tag {
    color: $white !important;
}

// End: Header


// Start: Who We Are

.who-we-are {
    height: 548px;
    background-color: $white;
    font-family: 'Source Sans Pro', sans-serif;
    // margin-top: 10vh;
    padding: 10vh 3vh;


    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,auto);
}

.who-image {
    width: 600px;
    height: 490px;
    background-color: $mid-grey;
    background-image: url(../images/meet-the-team.jpg);
    background-size: cover;
}

.who-text {
    width: 600px;
    height: 490px;
}

.h1-who {
    font-size: 36px;
    line-height: 0.67;
    text-align: center;
    color: $deep-grey;
    margin: 0;
}

.p-who {
    color: $mid-grey;
    margin: 30px 0;
}
// End: Who We Are

// Start: Meet Our Team

.meet-our-team {
    height: 721px;
    padding: 15vh 5vh;
}

.grid-mot {
    display:  grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4,auto);

    margin: 10vh 0;
}

.grid-mot h5 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: $deep-grey;
    margin: 0;
}

.grid-mot h6 {
    text-align: center;
    color: $warm-grey;
    margin: 0;
}

.icon-mot {
    padding: 10px;
    text-align: center;
    color: $grey;
    font-size: 15px;
    word-spacing: 15px;
}

.h1-mot {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
    color: $deep-grey;
    margin: 0;
}

.image-mot {
    width: 270px;
    height: 305px;
    background-color: $mid-grey;
}
// End: Meet Our Team


// Start: What We Do

.what-we-do {
    height: 590px;
    padding: 10vh 15vh;
    font-family: 'Source Sans Pro', sans-serif;

    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2,auto);
}

.wwd-image {
    width: 600px;
    height: 490px;
    background-color: $mid-grey;
    background-image: url(../images/blur-close-up-crafts-6435.jpg);
    background-size: cover;
}

.h1-wwd {
  font-size: 36px;
  text-align: center;
  color: $deep-grey;
  margin: 0;
}

.wwd-text p {
  font-size: 15px;
  color: $mid-grey;
}

// End: What We Do


// Contact Page Open

.contact-grid-items {
  width: 390px;
  height: 200px;
  border: solid 1px #e6e6e6;
  background-color: $fever-white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.location{
    width: 32px;
    height: 35px;
    font-size: 36px;
    line-height: 0.58;
    text-align: center;
    color: $darkie-black;
}

.h2-contact {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: $deep-grey;
}

.h4-contact {
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: $mid-grey;
}

.h4-contact-number {
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: $mid-grey;
}


.h4-contact-mail {
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    color: $mid-grey;
}

.fa-clock {
    font-size: 33px;
    text-align: center;
    color: $black;

}

.h2-contact-time {
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: $deep-grey;
}

.email {
    width: 155px;
    height: 40px;
    background-color: $mixed-brown;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-align: center;
    color: $white;
    border: 1px solid $mixed-brown;
    cursor: pointer;
}

// Contact Page Close


// Blog Page Open

.our-blog { 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    color: $mid-grey;
    height: 80px;


    ul {
        padding: 20px 10vh;
    }

    li {
        padding: 5px;
    }

    a {
        text-decoration: none;
        font-size: 15px;
        color: $mid-grey;
        text-transform: capitalize !important;
    }
  }

.blog-log {
    padding-right: 142vh;
}

.blog-main {
    font-family: 'Source Sans Pro', sans-serif;

    h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 2.4;
        color: $deep-grey;
        margin-bottom: 0;
        margin-top: 0;
    }

    h3 {
        font-size: 15px;
        line-height: 3.2;
        color: $warm-grey;
        margin-top: 0;
    }

    p {
        font-size: 15px;
        color: $mid-grey;
    }
    
    hr {
        width: 370px;
        height: 0.5px;
        background-color: $ebie-grey;
        // margin: 10px;
        text-align: left;
    }
    
}



.main-grid-image {
  width: 370px;
  height: 225px;
  background-color: $mid-grey;
}


.drum {
    background-image: url(../images/drums.jpg);
    background-size: cover;
}

.brooklyn {
    background-image: url(../images/brookyln-drums.png);
    background-size: 60vh;
    background-repeat: no-repeat;
    background-position-y: 37%;
    background-color: $white !important;
}

.map {
    background-image: url(../images/electric_flowers.jpg);
    background-size: cover;
}

.key {
    background-image: url(../images/diy_key_holder-7.png);
    background-size: contain;
}

.hearts {
    background-image: url(../images/Main-Hearts2.png);
    background-size: cover;
}

.bowls {
    background-image: url(../images/Bowls.jpg);
    background-size: contain;
}
// Blog Page Close


// LookBook Open

.lookbook-items {
    background-color: $white;
}

.lookbook-items img {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in;
}

.lookbook-items img:hover {
    transform: scale(1.05);
    border-radius: 10px;
    transition: transform 2s ease-in-out;
}

.baskets {
    grid-column: span 2;
}

.leaf {
    grid-column: span 2;
}



// .book-holder {}

// LoookBook Close



// Shop Page Open

.shop-page {
    padding: 0 30vh;
    background-color: #f5f5f5;
    font-family: 'Source Sans Pro', sans-serif;
}

.results {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 30vh;

    ul {
        padding: 0;
    }

    li {
       text-transform: capitalize;
    }
}

.showing-results {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: left;
    color: $mid-grey;
    margin-right: 61%;
}

.select-order {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: right;
    color: $mid-grey;
}

.cart-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(4,1fr);

    padding: 30px 0;
}

.cart-images {
    width: 300px;
    height: 300px;
    background-color: $mid-grey;
}

.cart-grid-items {
    
    h3 {
        font-size: 25px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.92;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
        margin: 0;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.67;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        margin: 0;
    }

    p {
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
        color: #666666;
        margin-bottom: 50px;
    }

    a {
        background-color: #ac907f;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 1.5px;
        text-align: center;
        text-transform: uppercase;
        color: $white;
        border: 1px solid #ac907f;
        padding: 10px 25px;
        margin-top: 15px;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .fa-shopping-cart {
        padding: 0;
    }

    .fa-heart {
        float: right;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.4;
        letter-spacing: normal;
        // text-align: center;
        color: #999999;
        // transform: translate(33em,-213%);
    }
}



// Shop Page Close