// My Colors and Fonts

$warm-grey: #999999;

$white: #ffffff;

$dirty-brown: #a88d7b;

$mid-grey: #666666;

$deep-grey: #333333;

$dirty-white: #f9f9f9;

$stained-brown: #2d2827;

$light-grey: #d7d7d7;

$stained-grey: #e5e5e5;

$super-grey: #eeeeee;

$anti-grey: #cccccc;

$grey: #555555;

$fever-white: #f0f0f0;

$darkie-black: #090803;

$black: #000000;

$mixed-brown: #ac907f;

$ebie-grey: #ebebeb;

$colored-grey: #888888;


// My Mixins

@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'Dosis';
    src: url(../fonts/Dosis/Dosis-Regular.ttf);
}